body {
    /* Bakgrunnsfarge på hele siden satt til en grønnblå farge */
    background-color: rgb(83, 156, 153);
    font-family: Arial, sans-serif;
  }
  
  h1 {
    /* Endrer fargen på h1-overskriften til hvit og setter teksten til å være midtstilt */
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    /* Endrer skrifttypen til Verdana og setter fontstørrelsen på p-taggen til 20px */
    font-family: verdana;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }